/* Add this to your CSS file */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* Background for the circle */
    border-radius: 50%;
    width: 60px;
    /* Adjust size as needed */
    height: 60px;
    /* Adjust size as needed */
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo-icon {
    transition: transform 0.5s ease;
}

.logo-icon:hover {
    transform: scale(1.2);
    /* Enlarge the icon on hover */
}
/* Add this CSS to your styles */
.modal {
    background: white;
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}